Hello <%= current_customer.first_name %>,

<table border="1">
  <tr>
    <td>Cleaner Name</td>
    <td>City</td>
    <td>Date and Time</td>
    <td>Action</td>
  </tr>
  <% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.cleaner.first_name %> <%= booking.cleaner.last_name %></td>
    <td><%= booking.city.city_name %></td>
    <td><%= booking.datetime %></td>
    <td><%= link_to 'View',booking_path(booking.id)%></td>
  </tr>
  <% end %>
</table>
