<table border="1">
  <tr>
    <td>Cleaner Name</td>
    <td>City</td>
    <td>Date and Time</td>
    <td>Action</td>
  </tr>
  <% if @bookings == []%>
  <tr>
      <td colspan="4" align="center">No Records Found</td>
    </tr>
  <% else %>
    <% @bookings.each do |booking| %>
    <tr>
      <td><%= booking.cleaner.first_name %> <%= booking.cleaner.last_name %></td>
      <td><%= booking.city.city_name %></td>
      <td><%= booking.datetime %></td>
      <td><%= link_to 'View',booking_path(booking.id)%></td>
    </tr>
    <% end %>
  <% end %>
</table>
