<!DOCTYPE html>
<html>
  <head>
    <title>Login - Homework</title>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><%= link_to "Admin Login",new_admin_session_path %></li>
          <li><%= link_to "Customer Login",new_customer_session_path %></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%if notice %><p class="notice"><%= notice %></p><% end %>
      <%if alert %><p class="alert"><%= alert %></p><% end %>
      <%= yield %>
    </div>
  </body>
</html>
