<h3>Customer Details</h3>
<table class="table table-hover table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>No of bookings</th>
  </tr>
  <% if @customers.present? %>
  <% @customers.each do |customer| %>
  <tr>
    <td><%= customer.first_name %> <%= customer.last_name %></td>
    <td><%= customer.email %></td>
    <td><%= customer.phone_number %></td>
    <td><%= customer.bookings.count %></td>
  </tr>
  <% end %>
  <% else %>
  <tr>
    <td colspan="4" align="center">No Records Found.</td>
  </tr>
  <% end %>
</table>
