<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,class:'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.label :email %>
  <div class="form-group">
    <div class="col-xs-5">
      <%= f.email_field :email, autofocus: true,readonly:true,class:'form-control'%>
    </div>
  </div>
  <%= f.label :first_name %>
  <div class="form-group">
    <div class="col-xs-5">
      <%= f.text_field :first_name, autofocus: true ,class:'form-control'%>
    </div>
  </div>
  <%= f.label :last_name %>
  <div class="form-group">
    <div class="col-xs-5">
      <%= f.text_field :last_name, autofocus: true,class:'form-control' %>
    </div>
  </div>
  <%= f.label :mobile_number %>
  <div class="form-group">
    <div class="col-xs-5">
      <%= f.text_field :phone_number, autofocus: true,readonly:true,class:'form-control' %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.label :password %><i>(leave blank if you don't want to change it)
  <% if @minimum_password_length %>
    (<em><%= @minimum_password_length %> characters minimum</em>)</i>
  <% end %>
  <div class="form-group">
    <div class="col-xs-5">
      <%= f.password_field :password, autocomplete: "off",class:'form-control' %>
    </div>
  </div>

  <%= f.label :password_confirmation %>
  <div class="form-group">
    <div class="col-xs-5">
      <%= f.password_field :password_confirmation, autocomplete: "off",class:'form-control' %>
    </div>
  </div>

  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
  <div class="form-group">
    <div class="col-xs-5">
      <%= f.password_field :current_password, autocomplete: "off",class:'form-control' %>
    </div>
  </div>

    <%= f.submit "Update",class:'btn btn-default' %>
<% end %>
