<%= button_to :"Add City",new_city_path,method:'get',class:'btn btn-default'%><br/>
<table class="table table-hover table-striped" style="width:30%;">
  <tr>
    <th>City Name</th>
    <th colspan="3">Action</th>
  </tr>
  <% if @cities == []%>
    <tr>
      <td colspan="4" align="center">No Record Found</td>
    </tr>
  <% else %>
    <% @cities.each do |city| %>
        <tr>
          <td><%= city.city_name %></td>
          <td><%= link_to city_path(city.id) do%><span class="glyphicon glyphicon-eye-open"/><% end %></td>
          <td><%= link_to edit_city_path(city.id) do%><span class="glyphicon glyphicon-pencil"/><% end %></td>
          <td><%= link_to city_path(city.id),method:'delete',data: { confirm:'Are you sure?'} do%><span class="glyphicon glyphicon-trash"/><% end %> </td>
        </tr>
    <% end %>
  <% end %>
</table>
