<%= form_for (@booking),html:{class:'form-horizontal'} do |f| %>
<% if @booking.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @booking.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= f.label :City %>
<div class="form-group">
  <%= f.select :city_id,options_from_collection_for_select(@city,'id','city_name'),class:'form-control' %>
</div>

<%= f.label :data_and_time %>
<div class="form-group">
  <%= f.datetime_select :datetime,class:'form-control' %>
</div>

  <%= f.submit "Book",class:'btn btn-default'%>
<% end %>
